<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Welcome to Magic Books</h1>
      <p class="fs-5 text-body-secondary"> The better place to read new and old books for all ages.</p>
      <% if user_signed_in? %>
        <h5>What do you want to review <%= current_user.name %> ?</h5>
      <% else %>
        <h5>Sign in to discover more features, it's free</h5>
      <% end %>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Book Catalog</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <%= image_tag 'books.png', alt: 'Books', class:'img-fluid' %>
              </li>
            </ul>
            <%= link_to "See the Books", books_path, class: "w-100 btn btn-lg btn-outline-primary" %>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Loans manager</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <%= image_tag 'returnbook.png', alt: 'RtnBooks', class:'img-fluid' %>
              </li>
            </ul>
            <% if user_signed_in? %>
              <%= link_to "See My Loans", loans_path, class: "w-100 btn btn-lg btn-outline-primary" %>
            <% else %>
              <%= link_to "Not Logged In", root_path, class: "w-100 btn btn-lg btn-outline-secondary disable"%>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </main>
</div>